@using Microsoft.AspNetCore.Components.QuickGrid

@page "/TechnicalDepartment"

@layout _Layout

<PageTitle>دفتر فنی</PageTitle>

<FacilitiesStatusCard />

<div class="row mt-3">
    <div class="col1-1">
        <div class="card color-card">
            <div class="card-header">
                <h6 class="title">خلاصه وضعیت اماکن ورزشی شهرستان @City!.PersianName</h6>
                <InputSelect class="select" @bind-Value="CityId" @bind-Value:after="SelectCity">
                    @foreach (City city in Cities!)
                    {
                        <option value="@city.Id">@city.PersianName</option>
                    }
                </InputSelect>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col1-3">
        <FacilitiesCityStatusCard CityId="@City.Id" />
    </div>
    <div class="col2-3">
        <div class="card card-double">
            <FacilitiesCityGovernmentalsStatusCard CityId="@City.Id" />
            <hr class="seperator" />
            <FacilitiesCityPrivatesStatusCard CityId="@City.Id" />
        </div>
    </div>
</div>

@*
<CascadingValue Value="City">
    <FacilitiesCityStatusCard />

    <div class="row">
        <div class="col1-2">
            <FacilitiesMsyCityCard />
        </div>
        <div class="col1-2">
            <FacilitiesGovCityCard />
        </div>
    </div>

    <div class="row">
        <div class="col1-1">
            <FacilitiesPrivateCityCard />
        </div>
    </div>
</CascadingValue>
*@

@code {
    private AppDbContext context = default!;

    private int CityId = 1;

    private City? City;

    private IQueryable<City>? Cities;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();

        Cities = context.Cities
            .Where(city => city.Id != 0);

        SelectCity();
    }

    private void SelectCity()
    {
        City = context.Cities
            .FirstOrDefault(c => c.Id == CityId);
    }
}
