@page "/SportFacilities/Details"
@using Microsoft.EntityFrameworkCore
@using Reporter.Models
@inject IDbContextFactory<Reporter.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>SportFacility</h2>
    <hr />
    @if (sportfacility is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@sportfacility.Name</dd>
            <dt class="col-sm-2">Area</dt>
            <dd class="col-sm-10">@sportfacility.Area</dd>
            <dt class="col-sm-2">Location</dt>
            <dd class="col-sm-10">@sportfacility.Location</dd>
            <dt class="col-sm-2">hasDocument</dt>
            <dd class="col-sm-10">@sportfacility.hasDocument</dd>
            <dt class="col-sm-2">Sports</dt>
            <dd class="col-sm-10">@sportfacility.Sports</dd>
            <dt class="col-sm-2">Owner</dt>
            <dd class="col-sm-10">@sportfacility.Owner</dd>
            <dt class="col-sm-2">Zipcode</dt>
            <dd class="col-sm-10">@sportfacility.Zipcode</dd>
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@sportfacility.Address</dd>
            <dt class="col-sm-2">TelNumber</dt>
            <dd class="col-sm-10">@sportfacility.TelNumber</dd>
            <dt class="col-sm-2">LicenseId</dt>
            <dd class="col-sm-10">@sportfacility.LicenseId</dd>
            <dt class="col-sm-2">ContractId</dt>
            <dd class="col-sm-10">@sportfacility.ContractId</dd>
            <dt class="col-sm-2">Edited</dt>
            <dd class="col-sm-10">@sportfacility.Edited</dd>
        </dl>
        <div>
            <a href="@($"/SportFacilities/Edit?Id={sportfacility.Id}")">Edit</a> |
            <a href="@($"/SportFacilities")">Back to List</a>
        </div>
    }
</div>

@code {
    private SportFacility? sportfacility;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        sportfacility = await context.SportsFacilities.FirstOrDefaultAsync(m => m.Id == Id);

        if (sportfacility is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
