@page "/SportsGroup/Champions"

@layout _Layout

<PageTitle>ورزش قهرمانی</PageTitle>

@if (years is null)
{
    <Loading CardMode=true />
}
else
{
    <div class="row">
        <div class="col1-1">
            <div class="card color-card">
                <div class="card-header">
                    <h6 class="title">ورزش قهرمانی در سال @year</h6>
                    <InputSelect class="select" @bind-Value="year">
                        @foreach (int year in years)
                        {
                            <option value="@year">@year</option>
                        }
                    </InputSelect>
                </div>
            </div>
        </div>
    </div>

    <ChampionsYearSummaryCard Year="@year" />

    @if(federations is null)
    {
        <Loading CardMode=false />
    }
    else
    {
        <div class="row">
            <div class="col1-1">
                <ChampionsYearFederationsStatusCard Year="@year" Federations="@federations" />
            </div>
        </div>
    }
}

@code {
    private AppDbContext context = default!;

    private int year;

    [CascadingParameter]
    private List<int>? years
    {
        get => context.Champions
            .Include(champion => champion.Tournament)
            .GroupBy(champion => champion.Tournament.Year)
                .Select(group => group.Key)
            .OrderByDescending(year => year)
            .ToList();
        set => new List<int>();
    }

    [CascadingParameter]
    private List<Federation> federations
    {
        get => context.Federations
            .Include(federation => federation.Tournaments)
                .ThenInclude(tournament => tournament.Champions)
            .Where(federation => federation.Tournaments
                .Any(tournament =>
                    tournament.Year == year
                    &&
                    tournament.Champions.Count(champion => champion.Medal != null) > 0))
            .Where(federation => federation.IsChampionship)
            .OrderBy(federation => federation.PersianName)
            .ToList();
        set => new List<Federation>();
    }

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();

        year = years.FirstOrDefault();
    }
}