@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

<div class="row">
    <div class="col1-1">
        <div class="card city-facilities-card">
            <div class="card-header border-bottom">
                <h6>اماکن ورزشی شهرستان</h6>
                <InputSelect  class="cities-select" @bind-Value="cityId" @onclick="SelectCity">
                    @foreach (City city in cities!)
                    {
                        <option value="@city.Id">@city.PersianName</option>
                    }
                </InputSelect>
            </div>
            <div class="card-body">
                <div class="city-facilities-bar">
                    <div class="facilities-counts">
                        <div class="msy-facilities">
                            <h6>اماکن ورزشی وزارت ورزش و جوانان</h6>
                            <p>@msyFacilities</p>
                            <p>%@msyFacilitiesPercent</p>
                        </div>
                        <div class="gov-facilities">
                            <h6>اماکن ورزشی سایر ارگان ها</h6>
                            <p>@govFacilities</p>
                            <p>%@govFacilitiesPercent</p>
                        </div>
                        <div class="private-facilities">
                            <h6>باشگاه های خصوصی</h6>
                            <p>@privateFacilities</p>
                            <p>%@privateFacilitiesPercent</p>
                        </div>
                    </div>
                    <div class="percent-bar-wrapper">
                        <canvas id="cityFacilitiesChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let cityFacilitiesChart;

    function renderCityFacilitiesChart(data) {
        const ctx = document.getElementById('cityFacilitiesChart').getContext('2d');

        if (cityFacilitiesChart) {
            cityFacilitiesChart.destroy();
        }

        cityFacilitiesChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['اماکن ورزشی وزارت ورزش و جوانان', 'اماکن ورزشی سایر ارگان ها', 'باشگاه های خصوصی'],
                datasets: [{
                    data: data,
                    backgroundColor: ['#2e77ae', '#95bdf2', '#ff8e2b'],
                    hoverBackgroundColor: ['#2e77ae', '#95bdf2', '#ff8e2b']
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false,
                        position: 'top'
                    },
                    tooltip: {
                        bodyFont: {
                            family: 'IRANSans',
                            size: 11,
                        },
                        titleFont: {
                            family: 'IRANSans',
                            size: 12,
                        }
                    }
                },
                cutout: '65%'
            }
        });
    }

    function updateCityFacilitiesChart (data) {
        if (cityFacilitiesChart) {
            cityFacilitiesChart.data.datasets[0].data = data;
            cityFacilitiesChart.update();
        }
    }
</script>

@code {
    private AppDbContext context = default!;

    private IQueryable<City>? cities;

    private int cityId { get; set; } = 1;
    private City? city { get; set; }

    private int msyFacilities { get; set; } = 0;
    private decimal msyFacilitiesPercent { get; set; } = 0;

    private int govFacilities { get; set; } = 0;
    private decimal govFacilitiesPercent { get; set; } = 0;

    private int privateFacilities { get; set; } = 0;
    private decimal privateFacilitiesPercent { get; set; } = 0;

    private List<decimal> chartCounts = new List<decimal>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        context = DbFactory.CreateDbContext();

        cities = context.Cities;

        SelectCity();
    }

    private void SelectCity()
    {
        city = context.Cities
            .Include(c => c.AthleticFacilities)
            .FirstOrDefault(c => c.Id == cityId);

        var totalFacilities = city!.AthleticFacilities.Count();

        msyFacilities = city!.AthleticFacilities
            .Where(m => m.OwnershipId == 1)
            .Count();

        govFacilities = city!.AthleticFacilities
            .Where(m => m.OwnershipId == 2)
            .Count();

        privateFacilities = city!.AthleticFacilities
            .Where(m => { return m.OwnershipId == 3 || m.OwnershipId == 4; })
            .Count();

        msyFacilitiesPercent = 0;
        govFacilitiesPercent = 0;
        privateFacilitiesPercent = 0;
        if (totalFacilities > 0)
        {
            msyFacilitiesPercent = Math.Round(decimal.Divide(msyFacilities * 100, totalFacilities));
            govFacilitiesPercent = Math.Round(decimal.Divide(govFacilities * 100, totalFacilities));
            privateFacilitiesPercent = Math.Round(decimal.Divide(privateFacilities * 100, totalFacilities));
        }

        chartCounts.Clear();
        chartCounts.Add(msyFacilities);
        chartCounts.Add(govFacilities);
        chartCounts.Add(privateFacilities);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("renderCityFacilitiesChart", chartCounts);
        }

        await JSRuntime.InvokeVoidAsync("renderCityFacilitiesChart", chartCounts);
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
