<div class="row">
	<div class="col1-2">
		<div class="card">
			<div class="card-header pb-0">
				<h6>اماکن دولتی وزارت ورزش</h6>
			</div>
			<div class="card-body d-flex flex-row align-items-end justify-content-between">
				<div class="text-end">
					<p>مجموع اماکن: <b>@sportFacilities.Count()</b></p>
					<p>دارای سند: <b>@sportFacilities.Count()</b></p>
					<p>واگذاری ماده 88: <b>@sportFacilities.Count()</b></p>
				</div>
				<div class="half-circle" style="
width: 170px; height: 85px;overflow: hidden; background-size: 100% 200%;
background-image: radial-gradient(white 55%, transparent 55%, transparent 70%, white 70%),
conic-gradient(from -90deg, lightblue 0, lightblue 20%, lavender 0, lavender 50%);"></div>
			</div>
		</div>
	</div>
	<div class="col1-2">
		<div class="card">
			<div class="card-header pb-0">
				<h6>اماکن دولتی سایر ارگان ها</h6>
			</div>
			<div class="card-body d-flex flex-row align-items-end justify-content-between">
				<div class="text-end">
					<p>مجموع اماکن: <b>@sportFacilities.Count()</b></p>
					<p>دارای مجوز ماده 5: <b>@sportFacilities.Count()</b></p>
				</div>
				<div class="half-circle" style="
width: 170px; height: 85px;overflow: hidden; background-size: 100% 200%;
background-image: radial-gradient(white 55%, transparent 55%, transparent 70%, white 70%),
conic-gradient(from -90deg, lightblue 0, lightblue 20%, lavender 0, lavender 50%);"></div>
			</div>
		</div>
	</div>
	<div class="col2-3">
		<div class="card">
			<div class="card-header pb-0">
				<h6>باشگاه های خصوصی</h6>
			</div>
			<div class="card-body d-flex flex-row align-items-end justify-content-between">
				<div class="text-end">
					<p>مجموع باشگاه ها: <b>@sportFacilities.Count()</b></p>
					<p>حقیقی: <b>@sportFacilities.Count()</b></p>
					<p>حقوقی: <b>@sportFacilities.Count()</b></p>
				</div>
				<div class="half-circle" style="
width: 170px; height: 85px;overflow: hidden; background-size: 100% 200%;
background-image: radial-gradient(white 55%, transparent 55%, transparent 70%, white 70%),
conic-gradient(from -90deg, lightblue 0, lightblue 20%, lavender 0, lavender 50%);"></div>
			</div>
		</div>
	</div>
	<div class="col1-3">
		<div class="card">

		</div>
	</div>
</div>

@code {
	private AppDbContext context = default!;

	private DbSet<AthleticFacility> sportFacilities;

	protected override void OnInitialized()
	{
		context = DbFactory.CreateDbContext();

		sportFacilities = context.AthleticFacilities;
	}
}
