<div class="row">
	<div class="col1-3">
		<div class="card cornered1">
			<div class="card-body">
				<div>
					<h6 class="title">اماکن ورزشی وزارت ورزش و جوانان</h6>
					<h2>@msyFacilitiesCount</h2>
				</div>
				<div class="d-flex justify-content-between">
					<p>دارای سند:</p>
					<b>@contractedMsyFacilitiesCount</b>
				</div>
				<div class="d-flex justify-content-between">
					<p>واگذار شده در ماده 88:</p>
					<b>@contractedMsyFacilitiesCount</b>
				</div>
			</div>
		</div>
	</div>
	<div class="col1-3">
		<div class="card cornered2">
			<div class="card-body">
				<div>
					<h6 class="title">اماکن ورزشی سایر ارگان ها</h6>
					<h2>@govFacilitiesCount</h2>
				</div>
				<div class="d-flex justify-content-between">
					<p>دارای مجوز ماده 5:</p>
					<b>@licensedGovFacilitiesCount</b>
				</div>
			</div>
		</div>
	</div>
	<div class="col1-3">
		<div class="card cornered3">
			<div class="card-body">
				<div>
					<h6 class="title">باشگاه های خصوصی</h6>
					<h2>@privateFacilitiesCount</h2>
				</div>
				<div class="d-flex justify-content-between">
					<p>حقیقی:</p>
					<b>@beneficalPrivateFacilitiesCount</b>
				</div>
				<div class="d-flex justify-content-between">
					<p>تملیکی:</p>
					<b>@ownedPrivateFacilitiesCount</b>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	private AppDbContext context = default!;

	private int msyFacilitiesCount { get; set; } = 0;
	private int documentedMsyFacilitiesCount { get; set; } = 0;
	private int contractedMsyFacilitiesCount { get; set; } = 0;

	private int govFacilitiesCount { get; set; } = 0;
	private int licensedGovFacilitiesCount { get; set; } = 0;

	private int privateFacilitiesCount { get; set; } = 0;
	private int beneficalPrivateFacilitiesCount { get; set; } = 0;
	private int ownedPrivateFacilitiesCount { get; set; } = 0;


	protected override void OnInitialized()
	{
		context = DbFactory.CreateDbContext();

		var msyFacilities = context.Facilities;
		msyFacilitiesCount = msyFacilities.Count();
		// documentedMsyFacilitiesCount = msyFacilities
		// 	.Where(m => m.HasDocuments)
		// 	.Count();
		contractedMsyFacilitiesCount = msyFacilities
			.Where(m => m.FacilityContracts.Count() > 0)
			.Count();
		// contractedMsyFacilitiesCount = msyFacilities
		// 	.Where(m => m.FacilityContracts
		// 		.Where(m => DateOnly.Parse(m.ExpireDate) >= DateOnly.FromDateTime(DateTime.Now)).Count() > 0)
		// 	.Count();

		var govFacilities = context.GovernmentFacilities;
		govFacilitiesCount = govFacilities.Count();
		licensedGovFacilitiesCount = govFacilities
			.Where(m => m.GovernmentFacilityLicenses.Count() > 0)
			.Count();
		// licensedGovFacilitiesCount = govFacilities
		// 	.Where(m => m.GovernmentFacilityLicenses
		// 		.Where(m => DateOnly.Parse(m.ExpireDate) >= DateOnly.FromDateTime(DateTime.Now)).Count() > 0)
		// 	.Count();

		var privateFacilities = context.PrivateFacilities;
		privateFacilitiesCount = privateFacilities.Count();
		beneficalPrivateFacilitiesCount = privateFacilities
			.Where(m => m.PrivateFacilityLicenses
				.Any(m => m.IsBeneficial == true))
			.Count();
		ownedPrivateFacilitiesCount = privateFacilities
			.Where(m => m.PrivateFacilityLicenses
				.Where(m => m.IsOwner == true).Count() > 0)
			.Count();
	}
}
