@using Microsoft.AspNetCore.Components.QuickGrid

@rendermode InteractiveServer

@if (Cities is null || Year is null)
{
	<Loading CardMode=true />
}
else
{
	<div class="card">
		<div class="card-header border-bottom">
			<h6 class="title">ورزشکاران سازمان یافته سال @Year شهرستان</h6>
			<InputSelect class="select" @bind-Value="CityId" @bind-Value:after="OnParametersSetAsync">
				@foreach (City city in Cities!)
				{
					<option value="@city.Id">@city.PersianName</option>
				}
			</InputSelect>
		</div>
		<div class="card-body">
			<div class="city-count">
				<div class="item-count">
					<img src="/icons/man-blue.svg" />
					@($"{menAthletesCount:#,0}")
				</div>
				<div class="item-count">
					<img src="/icons/woman-blue.svg" />
					@($"{womenAthletesCount:#,0}")
				</div>
				<div class="item-count">
					<img src="/icons/genders-blue.svg" />
					@($"{menAthletesCount + womenAthletesCount:#,0}")
				</div>
			</div>
			<div class="table-wrapper">
				@if (Insurances is not null)
                {
                    <QuickGrid Items="Insurances.AsQueryable()" Theme="" Class="quickgrid-table">
                        <PropertyColumn Property="@(department => department.Federation.PersianName)" />
                        <PropertyColumn Property="@(department => department.MenCount)" />
                        <PropertyColumn Property="@(department => department.WomenCount)" />
                    </QuickGrid>
                }
			</div>
		</div>
	</div>
}

@code {
	[Parameter]
	public int? Year { get; set; } = null!;

	[Parameter]
	public int? CityId { get; set; } = null!;

	private AppDbContext context = default!;

	private List<Insurance>? Insurances;

	private List<City>? Cities = null!;

	private int? menAthletesCount;
	private int? womenAthletesCount;

	protected override async Task OnInitializedAsync()
	{
		context = DbFactory.CreateDbContext();

		Cities = await context.Cities
			.Where(m => m.Id != 0)
			.OrderBy(m => m.PersianName)
			.ToListAsync();

		CityId = Cities.FirstOrDefault()!.Id;
	}

	protected override async Task OnParametersSetAsync()
	{
		Insurances = await context.Insurances
			.Include(m => m.Federation)
			.ToListAsync();

		menAthletesCount = Insurances
			.Where(m => m.Year == Year)
			.Where(m => m.Federation.IsChampionship)
			.Where(m => m.CityId == CityId)
			.Sum(m => m.MenCount);

		womenAthletesCount = Insurances
			.Where(m => m.Year == Year)
			.Where(m => m.Federation.IsGeneral)
			.Where(m => m.CityId == CityId)
			.Sum(m => m.WomenCount);
	}
}
