@page "/Federations/{Id:guid}"
@using Microsoft.AspNetCore.Components.QuickGrid;

<PageTitle>Local Federation</PageTitle>

<h2 class="page-title mb-0">هیات @federation?.Federation.PersianName @federation!.City.PersianName</h2>
<p class="small text-muted">شناسه ملی: @federation?.NationalId</p>

<div class="row">
    @*     <div class="col1-3">
        <div class="card color-card project-properties">
            <div class="card-header">
                <h6>مشخصات پروژه</h6>
            </div>
            <div class="card-body">
                <div class="progressPrecentage">
                    <h1>@string.Format("%{0}", projectProgressPercentage)</h1>
                </div>
                <div class="property top">
                    <h6>مجموع اعتبار هزینه شده:</h6>
                    <p>@string.Format("{0:N0}", totalPaid)</p>
                </div>
                <div class="property">
                    <h6>مطالبات پیمانکار:</h6>
                    <p>@string.Format("{0:N0}", contractorUnpaid)</p>
                </div>
                <div class="property">
                    <h6>اعتبار مورد نیاز جهت اتمام:</h6>
                    <p>@string.Format("{0:N0}", completionEstimate)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col2-3">
        <div class="card budgets-card cornered1">
            <div class="card-header pb-0">
                <h6>جدول اعتبارات پروژه</h6>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>*@
</div>
<div class="row">
    <div calss="col1-1">
        <div class="card presidents-card">
            <div class="card-header mb-0">
                <h6>تاریخچه تصدی هیات</h6>
                <a class="d-flex ms-3" href="/Federations/@Id/President/Add">
                    <span class="material-symbols-rounded">person_add</span>
                </a>
            </div>
            <div class="card-body">
                <QuickGrid Items="@federationPresidents" Theme="" Class="presidents-table">
                    <PropertyColumn Title="نام و نام خانوادگی" Property="@(president => president.Name)" />
                    <PropertyColumn Title="کدملی" Property="@(president => president.SeenCode)" />
                    <PropertyColumn Title="شماره تماس" Property="@(president => president.Phone)" />
                    <PropertyColumn Title="تاریخ حکم" Property="@(president => president.AppointmentDate)" />
                    <PropertyColumn Title="تاریخ اتمام حکم" Property="@(president => president.TermEnd)" />
                    <TemplateColumn>
                        <a class="edit-link d-flex ms-3" href="/Federations/President/@context.Id/Edit">
                            <span class="material-symbols-rounded">manage_accounts</span>
                        </a>
                    </TemplateColumn>
                </QuickGrid>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid? Id { get; set; }

    private AppDbContext context = default!;

    private LocalFederation? federation { get; set; }

    private IQueryable<LocalFederationPresident>? federationPresidents { get; set; }

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();

        federation = context.LocalFederations
            .Include(federation => federation.Federation)
            .Include(federation => federation.City)
            .Include(federation => federation.LocalFederationPresidents)
            .FirstOrDefault(federation => federation.Id == Id);

        federationPresidents = federation!.LocalFederationPresidents
            .OrderByDescending(president => president.AppointmentDate)
            .AsQueryable();
    }
}
